body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: aqua;
    
}
.gridContainer {
    display: grid;
    column-gap: 3px;
    row-gap: 3px;
    width: 500px;
    height: 500px;
    border: 1px solid black;
    background-color: white;
}
.gridItem {
    min-height: 0;
    height: 100%;
    border: 1px solid black
}

.button {
    border: 1px solid black
}

